
/*　スマホ版表示　*/
@media all and (max-width:670px){

    .header-center{
        margin-left: 0%;
    }

    .paletteimg{
        height: 50px;
        width: 100px;
        opacity: 0.8;
        color: black;
        line-height: 50px;
        font-family: Arial Black;
    }

    .main{
        width: 100%;
        background-color: white;
        margin-left: 0%;
    }

    .title{
        margin-top: 60px;
        margin: 60px 30px 0 30px;
    }
    
    .title-name{
        display: none;
    }

    .title-nameB{
        display: block;
        padding-top: 45px;
        text-align: center;
        font-size: 30px;
    }

    .contents-wrapper{
        margin-left: 30px;
    }

    .contents-title{
        padding:30px 0 0 40px ;
        font-size: 20px;
    }
    .contents {
        font-size: 20px;
        background-color: rgb(179, 212, 241);
        height: 260px;
        width: 270px;
    }
    
    .main-article{
        margin: 0 10px;
    }

    .expimg{
        display: block;
        width: 100%;
        height: auto;
    }

    .rightP{
        display: none;
    }
}
