@media all and (max-width:450px){
    .main{
        margin: 0 20px;
        width: 100%;
    }

    .header-center{
        margin-left: 0%;
    }

    .paletteimg{
        height: 50px;
        width: 100px;
        opacity: 0.8;
        color: black;
        line-height: 50px;
        font-family: Arial Black;
    }

    .title-name{
        padding-top: 45px;
        text-align: center;
        font-size: 30px;
    }
    .contents-title{
        padding:30px 0 0 40px ;
        font-size: 20px;
    }
    .contents {
        font-size: 20px;
        background-color: rgb(179, 212, 241);
        height: 260px;
        width: 270px;
    }
    

}
