body{
    font-family: "Hiragino Kaku Gothic ProN";
}

li{
    list-style: none;
}

header{
    background-color: rgba(100, 85, 85, 0.5);
    line-height:50px;
    font-size: 30px;
    color:black;
    font-family:MS PGothic;
    font-weight: 600;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10;

}

.main{
    margin-left: 40px;
}


.title{
    margin-top: 60px;
}

.category{
 text-align:left;   
}

.title-name{
    text-align: center;
    font-size: 50px;
}

.contents-title{
    margin-left:60px ;
    font-size: 20px;
}

.contents {
    font-size: 20px;
    background-color: rgb(179, 212, 241);
    height: 240px;
    width: 300px;
}

.a-head p{
    margin-top: 80px;
    display: inline-block;
    border-bottom:2px solid black;
    font-size: 30px;
    font-weight: 500;
}




.conclude p{
    margin-top: 80px;
    display: inline-block;
    border-bottom:2px solid black;
    font-size: 30px;
    font-weight: 500;
}
